<launch>
	<node name="proc_navigation"
	    pkg="proc_navigation"
	    type="proc_navigation_node"
	    output="log" />

	<node name="redirect_imu_to_dvl"
	    pkg="proc_navigation"
	    type="redirect_imu_to_dvl.py"
	    args="-b 19200 -P 7334 --port=/dev/ttyS1"
	    output="screen" />

	<node name="tf_enu_to_ned"
	      pkg="tf"
	      type="static_transform_publisher"
	      args="0.0 0.0 0.0 1.5707963267949 0.0 3.1415926535898 ENU NED 100" />

	<node name="tf_ned_to_body"
	    pkg="proc_navigation"
	    type="tf_ned_to_body.py"
	    output="log" />
</launch>
